@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
/* root elements */
:root {
    /* colors */
    --primary-orange: hsl(25, 97%, 53%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-light-grey: hsl(217, 12%, 63%);
    --neutral-medium-grey: hsl(216, 12%, 54%);
    --neutral-dark-blue: hsl(213, 19%, 18%);
    --neutral-very-dark-blue: hsl(216, 12%, 8%);
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: var(--neutral-very-dark-blue);
    color: var(--neutral-medium-grey);
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

/* tag selectors */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    flex-direction: column;
}

button.icon--button {
    margin: 1.5em .8em;
    padding: .5em;
    background-color: var(--neutral-dark-blue);
    border-color: var(--neutral-dark-blue);
    border-radius: 50%;
}

h1 {
    font-size: 2rem;
    color: var(--neutral-white);
    margin: .5em;
}

h2 {
    color: var(--neutral-white);
    font-weight: 700;
    font-size: 2rem;
    margin: 0 .8em;
}

form {
    padding-bottom: 2em;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
}

fieldset {
    border: none;
    display: flex;
    justify-content: space-around;
    margin-top: 2.5em;
    margin-bottom: 4em;
}

input {
    font-size: 1.5rem;
    width: 3.2em;
    height: 3.2em;
    background-color: var(--neutral-dark-blue);
    color: var(--neutral-medium-grey);
    border-radius: 50%;
    border-color: var(--neutral-dark-blue);
    cursor: pointer;
}

input[type='submit'] {
    margin: 1em;
    padding: .2em;
    border-color: var(--primary-orange);
    border-radius: 1.5em;
    background-color: var(--primary-orange);
    color: var(--neutral-white);
    text-transform: uppercase;
    font-size: 1.5rem;
    display: block;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
}

input:hover {
    background-color: var(--primary-orange);
    color: var(--neutral-white);
}

input[type='submit']:hover {
    background-color: var(--neutral-white);
    color: var(--primary-orange);
    border-color: var(--neutral-white);
}

/* class selectors */
.card {
    width: 365px;
    margin: 15em auto;
    background-color: var(--neutral-dark-blue);
    border-radius: 2em;
}

/* rating-state class selector */

.rating--statement p {
    margin: 1em 1.2em;
}

/* thank-you-state class selectors */

.thankyou--image {
    display: block;
    margin: 0 auto;
    padding-bottom: 2.5em;
    padding-top: 4em;
}

.rating--result {
    border-radius: 1.5em;
    display: block;
    margin: 0 auto;
    padding: .5em;
    width: 60%;
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary-orange);
    background-color: var(--neutral-medium-grey);
    border-color: var(--neutral-medium-grey);
}

.gratitude--message {
    font-size: 1.5rem;
    color: var(--neutral-medium-grey);
    text-align: center;
    margin: 1em .8em;
    padding-top: 1em;
    padding-bottom: 2.5em;
}

 /* active class selector for input */

.active {
    background-color: var(--neutral-medium-grey);
    color: var(--neutral-white);
}

/* attribution class selector */

.attribution {
    font-size: 1.5rem;
    text-align: center;
    color: var(--neutral-medium-grey);
}

.attribution a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}

/* media query for mobile */

@media (max-width:375px) {
    .card {
        width: 315px;
    }
}